:root {
    --background: rgb(65, 105, 225);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Page Bodies */
  
.homeBody {
    margin: 0;
    background-image: url('../images/misc/dark_background.jpg');
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.blogBody {
    margin: 0;
    background-color: whitesmoke;
    background-blend-mode: multiply;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.swapBody {
    margin: 0;
    background-image: url('../images/misc/light_background.jpg');
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
  
.content {
    padding-top: 100px;
}

.booth {
    width: 420px;
    height: 320px;
    background: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}

/* Home Formatting */

.homeLogo {
    max-width: 100%;
    width: 450px;
}

.verticalCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.links:link {
    color: white; 
    background-color: transparent; 
    text-decoration: underline;
}

.links:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.links:hover {
    color: chartreuse;
    background-color: transparent;
    text-decoration: underline;
}

.projectInfo {
    font-size: 14px;
    font-family: 'Courier New';
    color: white;
    text-decoration: none;
}

.homeText {
    font-size: 16px;
    font-family: 'Courier New';
    color: white;
}

/* Blog Formatting */

.blogHeader {
    padding: 30px;
    text-align: center;
    background-image: url('../images/misc/dark_background.jpg');
    background-blend-mode: multiply;
    background-size: cover;
}

#blogContent {
    padding-left: 20px;
    padding-right: 20px;
}

.leftColumn { 
    float: left;
    width: 75%;
}

.rightColumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.blogRow:after {
    content: "";
    display: table;
    clear: both;
}

.blogSection {
    color: royalblue;
}

.blogText {
    font-size: 16px;
    line-height: 24px;
}

.blogLinks:link {
    color: black;
    background-color: transparent; 
    text-decoration: underline;
}

.blogLinks:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.blogLinks:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.blogLinks:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
}

.projectInfoBlog {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: black;
}

table, th, td {
    border: 1px solid black;
}

.blogIMG {
    max-width: 100%;
    width: 215px;
    height: 280px;
}

@media screen and (max-width: 500px) {
    .blogIMG {
        max-width: 100%;
        width: 100px;
        height: 135px;
    }
}

/* Swap Formatting */

.column {
    float: left;
    width: 33.33%;
}

@media screen and (max-width: 800px) {
    .column { 
        width: 100%;
    }

    .leftColumn, .rightColumn { 
        width: 100%;
        padding: 0;
    }

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.swapTitle {
    font-size: 36px;
    font-family: 'Courier New';
}

.swapHeader {
    font-size: 28px;
    font-family: 'Courier New';
}

.swapText {
    font-size: 14px;
    font-family: 'Courier New';
    color: red;
}

/* Button */

.submitButton {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: royalblue;
    border-radius: 5px;
    border: 1px solid royalblue;
    border-width: 1px;
    padding: 7px 15px 7px 15px;
    color: white;
    font-size: 14px;
    font-family: Verdana;
}

/* Header */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo {
    max-width: 100%;
    width: 225px;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(white, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: orange;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
  
    .logo {
        grid-column: 2 / 3;
        max-width: 100%;
        width: 325px;
    }
  
    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
  
    nav ul {
        display: flex;
    }
  
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
  
    nav a {
        opacity: 1;
        position: relative;
    }
  
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: orange;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
  
    nav a:hover::before {
        transform: scale(1,1);
    }
}
