<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Face Swap - Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body class="homeBody">
        <header>
            <img src="../static/images/misc/logo.png" alt="logo" class="logo" width="325" height="80">
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('blog') }}">Blog</a></li>
                    <li><a href="{{ url_for('image') }}">Image</a></li>
                    <li><a href="{{ url_for('live') }}">Live</a></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>

        <div class="content">
            <center>
                <div class="verticalCenter">
                    <img src="../static/images/misc/logo.png" class="logo" width="450" height="125">
                    <div class="projectInfo">
                        <a class="links" href="https://github.com/andrew27lee/FaceSwap">Github</a>
                        <a class="links" href="https://ainize.ai/andrew27lee/FaceSwap?branch=master">Ainize</a>
                    </div>
                    <p class="homeText">Face Swap AI Using Python3 with OpenCV and dlib</p>
                </div>
            </center>
        </div>

        <script>
        </script>
    </body>
</html>